@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(0,0,0);
    text-decoration: none;
    color: #fff;
    font-family: "Inter"  ;
    box-sizing: border-box;

    

}
  .container{     
     border: 2px solid green;  
    width: 80%;
    margin: 0 auto;

}


/* ........shared style........ */
.font-1{
    font-size: 5rem;
    font-weight: 800;
    line-height: 80px;
}
.font-2{
    font-size: 3rem;
    font-weight: 700;
}
.font-3{
    font-size: 1rem;
    color: rgb(128,128,128);
}
.font-4{
    font-size: 2rem;


}
.btn-primary-1{
    background-color:rgba(230,83,60,1.000) ;
    color: white;
    width: 210px;
    padding:16px 40px ;
    border-radius: 40px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn-primary-2{
    background-color:#0000 ;
    color: white;
    width: 210px;
    padding:14px 30px ;
    border-radius: 40px;
    border:2px solid white;
    font-size: 1.2rem;
    cursor: pointer;
}





/* ...........Nav-bar styles..... */
.nav-container{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    align-items: center;

}
.logo{
    color:rgba(230,83,60,1.000);
    font-size: 2.5rem;
    font-weight: 900;
    font-style:italic ;
 
}
.navlist ul{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.navlist ul li{
    list-style: none;
    font-size: 1.2rem;
}
.navlist .active{
    background-color: rgba(230,83,60,1.000);
    padding: 8px 15px  8px 15px ;
    border-radius: 20px;
}
.navlist .active:hover{
    
   
}
.hamburger{
    display: none;
}


/* .......banner........ */
#banner{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;

}
/* .banner-text-container{
    border: 2px solid red;

} */
.banner-title{   
    margin-top: 50px;
    margin-bottom: 40px;
}
#miami{
    font-family:"Miama";
    font-size: 7rem;
    font-weight: normal;
}
.banner-text{
    margin-bottom: 50px;    
}
.btn-primary-1{
    margin-right: 15px;
}
.banner-img-container{
     margin-right: 50px;
    position: relative;
}
.banner-img-logo1{
    width: 190px;
    height: 100px;
    background-color:rgba(255,255,255,.2);
    border-radius: 15px;
    padding: 10px 0 20px 20px;   
    box-sizing: border-box;
    position: absolute;  
    left: 200px;
    top: 130px;
}
.banner-img-logo2{
    width: 190px;
    height: 100px;
    background-color:rgba(255,255,255,.2);
    border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;   
    box-sizing: border-box;
   position: absolute;
   bottom: 80px;
   left: -100px;


}
.bnr-img-number1{
    font-size:40px;
    font-weight: 900;
}
.bnr-img-number2{
    font-size:25px;
    font-weight: 900;
}
.red-ball{
    width: 40px;
    height: 40px;
    background-color:rgba(230,83,60,1.000);
    border-radius: 50%;
    margin-right: 10px;
}
/* .............habit section.......... */
#habit{
    margin-top: 5rem;
    margin-bottom:5rem ;
}
.habit-description-container{
    text-align: center;
    margin-bottom:5px;
}
.habit-title{
    margin-bottom: 10px;
}
.habit-img-continer{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 3.5rem;
}

.img-card{
    text-align: center;
}
.habit-img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
/* .........Run section style.... */
 .run-container{
    background-color:#222222;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border-radius: 18px;
    
    margin-bottom: 100px;
}
.run-title{
    margin-bottom: 10px;
}
.run-btn{
    margin-top: 25px;
}
.run-img{
   border-radius: 18px;
   width: 360px;
   height: 310px;
  object-fit:none;
  object-position: 68% 32%;
}  




/* ............BMI section............. */
#BMI{
    width: 100%;
    margin: 0 auto;
    

}

.bmi-title-container{
    text-align: center;
    margin-bottom: 50px;
    background-color: black;
}
.bmi-title{
    margin-bottom: 10px;
}

.table-container{
     background-color:#222222 ;
    width:auto; 
   padding: 50px 180PX;       
   display: flex;   
   justify-content: space-between; 
}


.table{
    border-collapse: collapse;
}
.table th,td{
    height: 3rem;
    width: 15rem;
   
    border: 2px solid #383838;
    
}
.table td{
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.5);
}


.form{
    margin-top: 30px;
    margin-bottom: 20px;
}

.input{
    height: 48px;
    width: 280px;
    border-radius: 8px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    margin-right: 7px;
    background-color: #383838;
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
}
.select1{height: 48px;
width: 280px;
border: none;
padding: 10px 20px 10px 10px;
border-radius: 8px;
margin-bottom: 10px ;
background-color: #383838;
color: white;
}


.select2{height: 48px; border: none; 
    width: 565px;
    padding: 10px;
    border-radius: 8px;
    background-color: #383838;  color: white;
}    
