@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(0,0,0);
    text-decoration: none;
    color: #fff;
    font-family: "Inter"  ;
    box-sizing: border-box;

    

}
  .container{     
     /* border: 2px solid green;   */
    width: 80%;
    margin: 0 auto;

}


/* ........shared style........ */
.font-1{
    font-size: 5rem;
    font-weight: 800;
    line-height: 80px;
}
.font-2{
    font-size: 3rem;
    font-weight: 700;
}
.font-3{
    font-size: 1rem;
    color: rgb(128,128,128);
}
.font-4{
    font-size: 2rem;


}
.btn-primary-1{
    background-color:rgba(230,83,60,1.000) ;
    color: white;
    width: 210px;
    padding:16px 40px ;
    border-radius: 40px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn-primary-2{
    background-color:#0000 ;
    color: white;
    width: 210px;
    padding:14px 30px ;
    border-radius: 40px;
    border:2px solid white;
    font-size: 1.2rem;
    cursor: pointer;
}





/* ...........Nav-bar styles..... */
.nav-container{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    align-items: center;

}
.logo{
    color:rgba(230,83,60,1.000);
    font-size: 2.5rem;
    font-weight: 900;
    font-style:italic ;
    cursor: pointer;
 
}
.navlist ul{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.navlist ul li{
    list-style: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.navlist .active{
    background-color: rgba(230,83,60,1.000);
    padding: 8px 15px  8px 15px ;
    border-radius: 20px;
}
.navlist .active:hover{
    
   
}
.hamburger{
    display: none;
}


/* .......banner........ */
#banner{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;

}
/* .banner-text-container{
    border: 2px solid red;

} */
.banner-title{   
    margin-top: 50px;
    margin-bottom: 40px;
}
#miami{
    font-family:"Miama";
    font-size: 7rem;
    font-weight: normal;
}
.banner-text{
    margin-bottom: 50px;    
}
.btn-primary-1{
    margin-right: 15px;
}
.banner-img-container{
     margin-right: 50px;
    position: relative;
}
.banner-img-logo1{
    width: 190px;
    height: 100px;
    background-color:rgba(255,255,255,.2);
    border-radius: 15px;
    padding: 10px 0 20px 20px;   
    box-sizing: border-box;
    position: absolute;  
    left: 200px;
    top: 130px;
}
.banner-img-logo2{
    width: 190px;
    height: 100px;
    background-color:rgba(255,255,255,.2);
    border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;   
    box-sizing: border-box;
   position: absolute;
   bottom: 80px;
   left: -100px;


}
.bnr-img-number1{
    font-size:40px;
    font-weight: 900;
}
.bnr-img-number2{
    font-size:25px;
    font-weight: 900;
}
.red-ball{
    width: 40px;
    height: 40px;
    background-color:rgba(230,83,60,1.000);
    border-radius: 50%;
    margin-right: 10px;
}
/* .............habit section.......... */
#habit{
    margin-top: 5rem;
    margin-bottom:5rem ;
}
.habit-description-container{
    text-align: center;
    margin-bottom:5px;
}
.habit-title{
    margin-bottom: 10px;
}
.habit-img-continer{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 3.5rem;
}

.img-card{
    text-align: center;
}
.habit-img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
/* .........Run section style.... */
 .run-container{
    background-color:#222222;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border-radius: 18px;
    
    margin-bottom: 100px;
}
.run-title{
    margin-bottom: 10px;
}
.run-btn{
    margin-top: 25px;
}
.run-img{
   border-radius: 18px;
   width: 360px;
   height: 310px;
  object-fit:none;
  object-position: 68% 32%;
}  




/* ............BMI section............. */
#BMI{
    width: 100%;
    margin: 0 auto;
 
    

}

.bmi-title-container{
    text-align: center;
    margin-bottom: 50px;
    background-color: black;
}
.bmi-title{
    margin-bottom: 10px;
}

.table-container{
     background-color:#222222 ;
    width:auto; 
   padding: 50px 180PX;       
   display: flex;   
   justify-content: space-between; 
}


.table{
    border-collapse: collapse;
}
.table th,td{
    height: 3rem;
    width: 15rem;
   
    border: 2px solid #383838;
    
}
.table td{
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.5);
}


.form{
    margin-top: 30px;
    margin-bottom: 20px;
}

.input{
    height: 48px;
    width: 280px;
    border-radius: 8px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    margin-right: 7px;
    background-color: #383838;
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
}
.select1{height: 48px;
width: 280px;
border: none;
padding: 10px 20px 10px 10px;
border-radius: 8px;
margin-bottom: 10px ;
background-color: #383838;
color: white;
}


.select2{height: 48px; border: none; 
    width: 565px;
    padding: 10px;
    border-radius: 8px;
    background-color: #383838;  color: white;
}    


/* ................trainer section................ */
.team-title-container{
    text-align: center;
    line-height: 15px;
    margin-top: 100px;
    margin-bottom: 60px;
    
}
.team-img-container{
    background-color: #222222;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px; 
}
 
.img-card{   
    /* width: 330px;
    height: 280px; */
    position: relative;

}
.trainer-img{    
    width: 330px;
    height: 270px;
     object-fit: cover;
    filter: brightness(.9) ;
    border-radius: 18px;
    }
    .trainer-name{
        position: absolute; 
        bottom: 20px;
        left: 10px;
        line-height:10px;
        font-weight:700 ;
    }

    /* .................pricing section........... */
    #pricing-container{
        background-color: #222222;
        padding: 30px;
        border-radius: 20px;
        margin-top: 100px;

    }

     /* .pricing-container{
        width: 80%;
        margin: 0 auto;
         border: 2px solid red; 
        background-color: #222222;
        padding: 30px;
        border-radius: 20px;} */
    
    .pricing-title{
        text-align: center;
        
        /* font-family: poppins; */
        /* font-size: 3rem; */
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .price-card-container{
       
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-bottom: 30px;
       
    }
    .price-card{
        width: 350px;
        height: 350px;
        border: 2px solid rgba(230,83,60,1.000) ;
        border-radius: 18px;
        background-color: black;
        padding: 30px;
    }
    .price-card:hover{
        box-shadow:2px 2px 15px rgba(230,83,60,1.000) ;
        
    }
    .price-card-title{
       font-size: 2.5rem;
       margin-top: 10px;
       margin-bottom: 20px ;
    }
    .price-card-amount{
        font-size: 2.5rem;
        margin-top: -1px;
        margin-bottom: 10px;
        color: rgba(230,83,60,1.000);

    }
    .price-card li{
        list-style: disc;
        
    }
    .price-card ol{
        margin-bottom: 10px;
    }
    .price-card a{
        color: white;
        font-weight: 700;
        font-size: 25px;
        text-decoration: none;
        
    }
    .price-card a:hover{
        color: tomato;
        
    }



    /* ............contact section........... */
    #contact{
        display: flex;
        gap: 80px;
        margin-top: 100px;
        background: #222222;
        padding-bottom: 50px;
        border-radius: 18px;
    }
    .contact-form-container{
        margin-left: 150px;
    }
    .contact-title {
        margin-bottom: -20px;
       
    }
    .contact-hr{
        width: 400px;
       text-align: start;
       margin-top: 5px;
    }
    .contact-title-container span{
        color: rgba(230,83,60,1.000);
    }
    .contact-title-container h4{
        margin-bottom:20px ;
    }

    .contact-form .text{
        width: 300px;
        padding: 15px;
        margin-bottom: 8px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        color: #fff;
        background-color: #383838;
    }
    .contact-form .large-text{
        width: 635px;
        padding: 15px;
        margin-bottom: 8px;
        border: none;
        border-radius: 5px;
        height: 70px;
        font-size: 18px; 
        color: #fff;
        background-color: #383838;
    }
    .contact-form .select{
        width: 665px;
        padding:15px;
        margin-bottom: 8px;
        border-radius: 5px;
        border: none;
        font-size: 18px;
        /* color: rgba(230,83,60,1.000);  */

        background-color: #383838;
    }
    .contact-form .select {
       color: #fff;

    }

    
   .contact-img {
    width: 500px;
    height: 400px;
    margin-top: 130px;
    border: 2px solid rgba(230,83,60,1.000);
    border-radius: 18px;
   }
   .contact-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
   } 

       


    
  




    /* ....................footer section.......... */
    footer{
        width: 100%;
        background-color: #222222;
        margin-top: 100px;
    }
    .footer-container{
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }
    .foot-box1-title{
        color:rgba(230,83,60,1.000);
    }
    .footer hr{
        width: 70%;
        margin: 0 auto;
    }
    .copyright{
        text-align: center;
        padding: 35px;
    }
    .foot-box3,.foot-box2, li{
        margin-bottom: 15px;
        list-style-type:none; 
    }

    @media only screen and (max-width: 576px) {
        .navlist{
            display: none;
        }
        .hamburger{
            display: block;
        }
        #banner{
            margin-top: 1rem;
            flex-direction: column;
            /* justify-content: space-between; */
        
        }
        /* .banner-text{
            margin-top: 10px;    
        } */

        .font-1{
            font-size: 3rem;
            font-weight: 800;
            line-height: 50px;
        }
        #miami{
           
            font-size: 5rem;
            font-weight: 550;
        }
        .nav-btn{
            width: 140px;
            height: 50px;
            font-size: 1rem;
            padding: 2px;
        }

        .banner-img-logo1{
            width: 150px;
            height: 80px;
            background-color:rgba(255,255,255,.2);
            border-radius: 15px;
             padding: 10px 0px 30px 20px;    
            box-sizing: border-box;
            position: absolute;  
            left: 180px;
            top: 60px;
        }

        .banner-img-logo2{
            width: 150px;
            height: 80px;
           padding: 15px 0px 15px 5px;
           box-sizing: border-box;
          
           bottom: 240px;
          left: 5px;
        
        
        }





        .bnr-img-number1{
            font-size:20px;
            font-weight: 900;
        }
        .bnr-img-number2{
            font-size:25px;
            font-weight: 900;
        }
        /* ....habit section.... */
        .habit-img-continer{
           
           flex-direction: column;
            gap: 2rem;
            margin-top: 3.5rem;
        }
        /* ....runextra mile... */
        
    }



